html, body {
    background: #fff;
    height: 300vh;
    color: #fff;
  }
  
  .content {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    max-width: 100%;
    width: 100vw;
  }
  
  div {
    background: #333;
    font-size: 30px;
    font-weight: bold;
    height: 200px;
    line-height: 200px;
    margin: 1em;
    text-align: center;
    width: 300px;
  }
  
  .one {
    background-color: #EC368D;
  }
  
  .two {
    background-color: #333;
  }
  
  .three {
    background-color: #440381;
  }



/* ================================1end */

* {
    margin: 0;
    padding: 0;
    font-size: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
  }
  
  html {
    height: 100%;
    overflow: hidden;
  }
  
  body { 
    margin: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    perspective: 1px;
    transform-style: preserve-3d;
  }
  
  section {
    padding: 25vh 10%;
    position: relative;
    min-height: 100vh;
    width: 100vw;
    transform-style: inherit;
  }
  
  section, section:before {
    background: 50% 50% / cover;
  }
  
  section:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  /* The brightest duotone color */
  .darken::before {
    background-color: rgba(221, 204, 0, 1);
  }
  
  /* The darkest duotone color */
  .lighten::after {
    background-color: rgba(221, 0, 0, 1);
  }
  
  #hero-1:before {
    background-image: url("http://cdn.bmwblog.com/wp-content/uploads/MINI-Rocketman-Concept-04.jpg");
    transform: translateZ(-1px) scale(2);
    z-index: -1;
  }
  
  #hero-2:before {
    background-image: url("http://cdn.bmwblog.com/wp-content/uploads/MINI-Rocketman-Concept-10.jpg");
    transform: translateZ(-1px) scale(2);
    z-index: -2;
  }
  
  #hero-3:before {
    background-image: url("http://cdn.bmwblog.com/wp-content/uploads/mini-rocketman-261.jpg");
      background-attachment: fixed;
    z-index: -3;
  }
  
  .normal-scroll {
    background: #fff;
    transform: translateZ(0);
  }
  
  .container {
    color: #ccc;
    font-size: 4vw;
    margin: 0 auto;
    padding: 25vh 0;
    text-align: center;
    width: 100%;
  }
  
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
      #section-5:before {
          background-attachment: scroll;
      }
  }




  /* =====================2end */

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Didot, serif;
  }
  
  body, html {
    height: 100%;
  }
  
  .back01 {
    background: url('https://images.pexels.com/photos/1634279/pexels-photo-1634279.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    min-height: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .back02 {
    background: url('https://images.pexels.com/photos/1634278/pexels-photo-1634278.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    min-height: 400px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  
  .back03 {
    background: url('https://images.pexels.com/photos/1271380/pexels-photo-1271380.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    min-height: 500px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .end {
    background: black;
    min-height: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  section {
    background: rgba(255, 255, 255, 0.3);
    padding: 1.5rem 3rem;
    text-align: center;
  }
  
  .center {
    display: grid;
    place-items: center;
  }
  
  .title {
    font-weight: normal;
    background: white;
    border-radius: 1px;
    font-size: 1.5rem;
    padding: 1.5rem 4rem;
    box-shadow: 0px 5px 22px 6px rgba(0,20,150,0.42);
  }
  
  .parallax {
    font-weight: bold;
    font-family: Optima, sans-serif;
    position: relative;
  }
  
  .parallax:before {
    content: 'Parallax';
    color: rgba(0,20,150, 0.5);
    position: absolute;
    left: 1px;
    top: 1px;
  }
  
  .parallax:after {
    content: 'Parallax';
    color: rgba(150,0,50, 0.5);
    position: absolute;
    left: -1px;
    top: -1px;
  }
  
  h2 {
    margin-bottom: 1rem;
  }
  
  .end-title {
    padding: 0.75em 2em;
  }
  
  @media only screen and (max-width: 800px) {
    .back01, .back02, .back03 {
      background-attachment: scroll;
    }
  }